 .u-section-1 {
  background-image: url("images/mexicasepatu1.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 406px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 702px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 278px;
}

.u-section-2 .u-group-1 {
  width: 800px;
  min-height: 253px;
  height: auto;
  --radius: 20px;
  margin: -74px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-2 .u-image-1 {
  width: 118px;
  height: 118px;
  margin: -52px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 400;
  margin: 0 11px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 11px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 186px;
  }

  .u-section-2 .u-group-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    min-height: 236px;
    margin-bottom: 24px;
    height: auto;
  }

  .u-section-2 .u-image-1 {
    margin-right: 295px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 182px;
  }

  .u-section-2 .u-group-1 {
    min-height: 230px;
    width: 694px;
    margin-bottom: 26px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -63px;
    margin-right: 255px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 10px;
    margin-left: 7px;
    margin-right: 7px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 147px;
  }

  .u-section-2 .u-group-1 {
    margin-bottom: 29px;
    min-height: 192px;
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -61px;
    margin-right: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-top: 0;
    margin-left: 43px;
    margin-right: 43px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 10px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -441px;
    margin-bottom: 60px;
    min-height: 168px;
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    font-weight: 700;
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 20px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 463px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 49px auto 0;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 29px auto 0;
  padding: 10px 34px;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 30px auto 0;
  padding: 10px 34px;
}

.u-section-3 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 30px auto 0;
  padding: 10px 46px 10px 45px;
}

.u-section-3 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 30px auto 49px;
  padding: 10px 24px 10px 23px;
}

@media (max-width: 991px) {
  .u-section-3 .u-btn-1 {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-btn-1 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 485px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 40px;
  }

  .u-section-3 .u-btn-5 {
    margin-bottom: 60px;
  }
}